.hero-section-image-container {
  width: clamp(268px, 27vw, 545px);
  height: clamp(268px, 27vw, 545px);
}

.hero-section-wave-container {
  top: clamp(182px, 18vw, 372px);
  left: calc(0px - clamp(50px, 8vw, 160px));
  width: clamp(197px, 18vw, 353px);
  height: clamp(42px, 4vw, 85px);
  border-radius: clamp(10px, 1vw, 20px);
  padding-left: clamp(10px, 1vw, 20px);
  padding-right: clamp(10px, 1vw, 20px);
}

.hero-section-features-container {
  top: clamp(24px, 2vw, 46px);
  right: calc(0px - clamp(20px, 6vw, 88px));
}

.hero-section-feature {
  padding: clamp(6px, 0.6vw, 12px);
  border-radius: clamp(5px, 0.5vw, 10px);
}

@media screen and (min-width: 768px) {
  .hero-section-image-container {
    margin-right: clamp(44px, 4.4vw, 88px);
  }
}

@media screen and (max-width: 768px) {
  .hero-section-image-container {
    margin-left: calc(clamp(79px, 8vw, 160px) / 2);
  }
}
